.main-head {
text-align: center;
font-family: "Didot";
font-size: 32px; 
background-color: grey; 
color: white;    
}
body {
width: 100%; 
margin: auto;
background-color: white; 
}
#main-pic {
position: relative;
left: 40%; 
top: 18%; 
border: 5px solid black; 
box-shadow: 5px 5px 25px; 
}
#intro-p {
text-align: center; 
margin-left: 10%; 
margin-right: 13%;
font-size: 17px; 
font-family: "Didot";  
}
